<div id="index_page_main_box">
	<p id="index_title">
	  Rettiwt
  </p>

  <i  id="index_image" class="fa fa-twitter fa-5x"></i>
</div>


<a id="signuplink" href="/sign_up">
	<div id="index_signup">
		<p>
			Sign Up
		</p>
	</div>
</a>