<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/js/terms-modal.js"></script>
	<script src="/js/feed.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/index_animation.js"></script>

</head>
<body>

	<div id="log_header">

		<div id="log_header_option">
			<% if session[:user_id] %>
				<a id="log_out_button" 	href="/log-out">
					Log out
				</a>
			<% else %>
				<a id="log_in_button" href="/user_login_page">
					Log in
				</a>
			<% end %>
		</div>

		<% if session[:user_id] %>
			<div id="log_in_header_name">
				<a href= <%= "/profile/#{current_user.username}" %>> <%= current_user.username %> </a>	
			</div>
		<% end %>
	</div>

	<%= yield %>

</body>
</html>