<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/js/terms-modal.js"></script>
	<script src="/js/feed.js"></script>
	<script src="/js/main.js"></script>

</head>
<body>

	<div id="log_header">

		<div id="log_header_option">
			<% if session[:user_id] %>
				<a href="/log-out">
					Log out
				</a>
			<% else %>
				<p id="log_in_button">
					Log in
				</p>
			<% end %>
		</div>
		
	</div>
		
	<%= yield %>

</body>
</html>