<form method="POST" action="/sign-up"> 
	<input type="text" name="[login]fname" placeholder="First Name"></input>
	<input type="text" name="[login]lname" placeholder="Last Name"></input>
	<input type="text" name="[login]username" placeholder="User Name"></input>
	<input type="password" name="[login]password" placeholder="Create Password"></input>
	<input type="password" name="repassword" placeholder="Validate Password"></input>
	<input type="checkbox" name="terms" value="true">I have read and agree to the <a href="#">terms and conditions</a></input>
	<input type="submit" value="Sign Up!"></input>
	<% if  flash[:alert] %>
		<div class="flash alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
</form>