body{
	margin: 0;
	padding: 0
}

/*Index styling*/
#index_title{
	font-size: 150px;
	position: fixed;
	display: block;
	width: 500px;
	height: 150px;
	margin:300px auto 0px auto;
	top: 0;
	bottom: 0;
	left: 10px;
	right: 0;
}

#index_image{
	font-size: 150px;
	position: fixed;
	display: block;
	width: 500px;
	height: 300px;
	margin:auto;
	top: 0;
	bottom: -28px;
	left: 994px;
	right: 0;
	-webkit-animation-name: woot; 
    -webkit-animation-duration: 4s;
   transform: rotateX(180deg);
   color: red;
}

@-webkit-keyframes woot {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(180deg);}
}

#signuplink{
	text-decoration: none;
}
#index_signup{
	background: red;
	color: white;
	height: 30px;
	width: 200px;
	text-align: center;
	padding: 10px 0 0 0;
	margin: 436px auto 0px auto;
}

#index_signup p{
	text-decoration: none;
	display: block;
	color: white;
	margin: 0px;
}

/*======================*/

/*Styling for the header in the layout.erb*/
#log_header {
	width: 100%;
	height: 50px;
	padding: 10px 0;
	font-family: 'Lato', sans-serif;
}

#log_header_option{
	float: right;
}

#log_in_button{
	float: right;
	text-decoration: none;
	color: red;
	margin: 0px 10px;
}

#log_out_button{
	float: right;
	margin: 0px 10px;
	text-decoration: none;
	color: red;
}
#log_out_button:hover{
	color: #fc7b25;
}

#feed_link_header {
	text-decoration: none;
	color: red;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 0 13px;
}

#feed_link_header:hover {
	color: #fc7b25;
}

#log_in_header_name{
	float: right;
}

#log_in_header_name a{
	text-decoration: none;
	color: black; 
	margin:0 10px;
}
/*===========================================*/

/*Styling for login modal */
.login_form{
	position: fixed;
	background: white;
	z-index: 100;
	width: 500px;
	height: 350px;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	border: 4px solid red;
}

.login_form input:focus {
	box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	border: 2px solid red;
}

.login_form input {
	display: block;
	width: 400px;
	height: 20px;
	margin: 70px auto;
	font-size: 15px;
	outline: none;
}
/*===============================*/


/*styling for sign_up.erb */



#sign-up {
	width: 450px;
	margin: 10px auto;
	text-align: center;
	border: 4px solid red;
}

#sign-up form {
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.signup_input:focus {
	box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	border: 2px solid red;
}
.signup_input {
	display: block;
	width: 400px;
	height: 20px;
	margin-bottom: 25px;
	font-size: 15px;
	outline: none;
}

#terms-checkbox {
	display: inline-block;
	margin: 10px 5px;
}

#sign-up h1 {
	color: red;
}

#sign-up a {
	text-decoration: none;
	color: red;
}

#sign-up a:hover {
	color: #fc7b25;
}

#signup-button {
	width: 150px;
	font-size: 2em;
	display: block;
	margin: 20px auto;
}

/*modal for terms and condition*/

.shadow {
	background-color: rgba(255,255,255,.7);
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

#terms_modal {
	z-index: 100;
	display: none;
	background: white;
	text-align: center;
	width: 350px;
	height: 150px;
	margin: auto;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	border: 3px solid red;
	box-shadow: 0 0 4px red;
}

#terms_modal h1 {
	color: red;
}

#close_terms {
	margin: 5px;
	padding-right: 5px;
	right: 0;
	bottom: 0;
	position: absolute;
	color: grey;
	text-decoration: none;
}

/*===========================*/


/*styling for the feed.erb*/


/*add new post*/

#feed {
	width: 500px;
	margin: 20px auto;
}

#feed h1 {
	color: red;
	text-align: center;
}

#create_post_form {
	text-align: right;
}

#post_textbox {
	width: 500px;
	height: 50px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	border: 2px solid red;
	font-size: 20px;
	text-indent: 5px;
}

#post_textbox:focus {
	box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	border: 2px solid red;
}

#chars {
	font-size: .8em;
}

#post_submit_button {
	font-size: 20px;
	margin-right: 0;
	color: red;
}

/*middle dots*/

#feed h2 {
	text-align: center;
	color: red;
	font-size: 2em;
	margin: 0;
}

#feed i {
	transform: rotateX(180deg);
}

/*posts feed*/

#active_feed {
	width: 520px;
	height: 500px;
	margin: 0;
	overflow: scroll;
}

.feed_post {
	border: 2px solid red;
	width: 500px;
	margin: 20px 0;
	padding: 2px;
}

.post_body {
	margin: 5px;
	font-size: 1.5em;
}

.post_creator {
	margin: 5px;
	display: inline-block;
}

.post_creator a {
	text-decoration: none;
	color: red;
}

.post_creator a:hover {
	color: #fc7b25;
}

.post_time {
	margin: 10px;
	display: inline-block;
	float: right;
	font-size: .8em;
}


/*==========================================*/

/*Profile page*/

#profile {
	width: 80%;
	margin: 0 auto;
}

#profile_title {
	text-align: center;
}

#profile_title h1 {
	font-size: 8em;
	color: red;
	margin-top: 10px;
	margin-bottom: 0;
}

#profile_title p {
	margin-top: 0;
	font-size: 2em;
}

#edit_profile_button {
	background-color: red;
	text-align: center;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	padding-top: 10px;
}

#edit_profile_button a {
	text-decoration: none;
	color: white;
}

/*profile page nav bar*/

#profile_main_nav {
	text-align: center;
	border-bottom: 2px solid red;
}

#profile_main_nav ul {
	padding: 0;
	margin: 50px 0 0 0;
}

#profile_main_nav ul li{
	list-style: none;
	display: inline-block;
	border: 2px solid red;
	border-bottom: none;
	margin: 0 40px;
	font-size: 1.3em;
	padding: 5px 10px;
}

.active_profile_tab {
	background-color: red;
	color: white;
}

/*profile list of posts*/

#profile_posts {
	overflow: scroll;
	height: 500px;
}

.profile_post {
	width: 550px;
	margin: 20px auto;
	border: 2px solid red;
	padding: 2px;
}

/*Profile edit styling*/
#edit_profile{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#edit_profile h1{
	color: red;

}

#edit_profile form{
	border-radius: 2px;
	width: 500px;
	border: 5px solid red;
	margin: 20px auto;
}

#edit_profile input:focus {
	box-shadow: 0 0 5px rgba(255, 0, 0, 1);
	border: 2px solid red;
}

#edit_profile input {
	display: block;
	width: 400px;
	height: 20px;
	margin: 30px auto;
	font-size: 15px;
	outline: none;
}

#delete_modal {
	display: none;
	position: fixed;
	width: 400px;
	height: 150px;
	z-index: 500;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 300px auto;
	background: white;
	border-radius: 5px;
	border: 5px red solid;
	text-align: center;
}

#delete_modal form input{
	display: block;
	width: 200px;
	height: 60px;
	margin: 30px auto;
	font-size: 15px;
	outline: none;
	color: white;
	background: red;
}

#delete_modal p {
	color: red;
	font-size: 30px;
	margin: 5px auto;
	margin-bottom: 0; 
	font-family: 'Lato', sans-serif;
}

#delete_cancel{
	float: right;
	bottom: 300px;
	position: relative;
	bottom: 20px;
	margin-right: 20px; 
	color: red;
}

#delete_cancel:hover {
	color: #fc7b25;
}

#delete_account_button{
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 200px;
	height: 30px;
	background: red;
	color: white;
}
/*==============================*/
